/* ms.css, Samantha Callicutt and Athan Walker, CSC337, Spring 2019 */


body {
	margin:0 auto;
	position: relative;
	font-size:10pt;
	font-family: Tahoma, sans-serif;
	background-color: gray;
}

#mainFlex {
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 80%;
	border: 1px solid black;
	box-shadow: 10px 10px 10px black;
}

#header {
	width: 100%;
	height: 75px;
	position: relative;
	background-image: url("banner-background.png");
	text-align: center;
	color: white;

}


#flexBody {
	width: 100%;
	background-color: white;
	text-align: center;
}

#board{
	background-color: red;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
	width: 608px;
	height: 608px;
	justify-content: : center;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.piece, .mine {
	text-align: center;
	background-color: #e6b800;
	border: 1px solid black;
	width: 36px;
	height: 36px;
	font-size: 20pt;
}

#buttons {
	position: relative;
	height: 50px;
	margin: 0 auto;
	width: 45%;
	border: 1px solid black;
	margin-bottom: 25px;
}

#controls {
	background-color: white;
	margin-top: -8px;
	position: absolute;
	height: 20px;
	left: 5%;
}

#controlButtons {
	float: left;
	padding: 20px;
}

#footer {
	width: 100%;
	height: 75px;
	position: relative;
	background-image: url("banner-background.png");
}

#html {
	margin: 10px;
	height: 55px;
	position: absolute;
}

#css {
	margin: 10px;
	height: 55px;
	position: relative;
	left: 12%;
}
